@model AeropuertoCalidad.Models.Aeropuerto

@{
    ViewData["Title"] = "Borrar Aeropuerto";
}

<h1>Borrar Aeropuerto</h1>

<div>
    <hr />
    <h6>¿Realmente desea borrar este aeropuerto?</h6>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habilitado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habilitado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Codigo" />
        <input type="submit" value="Borrar" class="btn btn-danger" />
        <a asp-action="Index">Volver</a>
    </form>
</div>
