@model IEnumerable<AeropuertoCalidad.Models.Aeropuerto>

@{
    ViewData["Title"] = "Aeropuertos";
}

<h1>Aeropuertos</h1>

<p>
    <a asp-action="Create">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habilitado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habilitado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Codigo">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Codigo">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.Codigo">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
