@model IEnumerable<AeropuertoCalidad.Models.Aeropuerto>

@{
    ViewData["Title"] = "Aeropuertos";
}

<head>
  <link rel="stylesheet" type="text/css" href="~/css/Interfaz.css">
  <link rel="stylesheet" href="~/lib/bootstrap/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<h1 class="SubTitle">Aeropuertos</h1>

<p align="right">
    <a class="AddBottom" asp-action="Create">Agregar</a>
</p>
<table class="table">
    <thead class="TableHead">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habilitado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="TableElement">
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habilitado)
            </td>
            <td>
                <a class="fa fa-pencil-square-o fa-2x" asp-action="Edit" asp-route-id="@item.Codigo" style="margin-right:10px;" />
                <a class="fa fa-book fa-2x" asp-action="Details" asp-route-id="@item.Codigo" style="margin-right:10px;" />
                <a class="fa fa-trash fa-2x" asp-action="Delete" asp-route-id="@item.Codigo" style="margin-right:10px;" />
            </td>
        </tr>
}
    </tbody>
</table>
