@model AeropuertoCalidad.Models.DatosPasajeros

@{
    ViewData["Title"] = "Consulta";

    var fechaInicial = Model.FechaInicial;
    var fechaFinal = Model.FechaFinal;
    var vuelosSemanales = Model.VuelosSemanales;

    for(int i = 0; i < vuelosSemanales.Count();i++){
        vuelosSemanales.ElementAt(i).debug();
    }
}

<h1 class="SubTitle">Consulta sobre Pasajeros</h1>

<section class="row">
    <article class="col"></article>
        <article class="Card col-8">
            <form asp-action="Consulta">                  
                <div class="form-group row FirstItem">
                    <div class="col">
                        <label class="control-label" for="FechaInicial">Fecha Inicial</label>
                    </div>
                    <div class="col-10">
                        <input class="form-control" type="date" data-val="true" id="FechaInicial" name="FechaInicial" value=@fechaInicial.ToString("yyyy-MM-dd") required>
                    </div>
                </div>
                <div class="form-group row FirstItem">
                    <div class="col">
                        <label class="control-label" for="FechaFinal">Fecha Final</label>
                    </div>
                    <div class="col-10">
                        <input class="form-control" type="date" data-val="true" id="FechaFinal" name="FechaFinal" value=@fechaFinal.ToString("yyyy-MM-dd") required>
                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center">
                    <input type="submit" value="Consultar" class="ActionButtom" />
                </div>
            </form>
        </article>
    <article class="col"></article>
</section>

@if(vuelosSemanales.Count() != 0){
    <table class="table">
        <thead class="TableHead">
            <tr>
                <th colspan=5>
                    Movimiento general de pasajeros por aeropuerto
                </th>
            </tr>
        </thead>
        <thead class="TableHead">
            <tr>
                <th>
                    Aeropuerto
                </th>
                <th>
                    Llegada
                </th>
                <th>
                    Promedio
                </th>
                <th>
                    Salida
                </th>
                <th>
                    Promedio
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < vuelosSemanales.Count(); i++) {
                @if(vuelosSemanales.ElementAt(i).Dia == "Todos los días"){
                    <tr class="TableElement">
                        <td>
                            @Html.DisplayFor(modelItem => vuelosSemanales.ElementAt(i).Aeropuerto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => vuelosSemanales.ElementAt(i).Llegada) vuelos
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => vuelosSemanales.ElementAt(i).PromedioLlegada) vuelos/día
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => vuelosSemanales.ElementAt(i).Salida) vuelos
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => vuelosSemanales.ElementAt(i).PromedioSalida) vuelos/día
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    @for (int i = 1; i < vuelosSemanales.Count()/8; i++) {
    <table class="table">
        <thead class="TableHead">
            <tr>
                <th colspan=3>
                    Movimiento por día de la semana de pasajeros en "@Html.DisplayFor(modelItem => aeropuerto.Key)"
                </th>
            </tr>
        </thead>
        <thead class="TableHead">
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Entran
                </th>
                <th>
                    Salen
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int j = 0; j < 8; j++) {
            <tr class="TableElement">                   
                <td>
                    @switch(pasajeros.Key){
                        case 1:
                            <div>Lunes</div>
                            break;
                        case 2:
                            <div>Martes</div>
                            break;
                        case 3:
                            <div>Miércoles</div>
                            break;
                        case 4:
                            <div>Jueves</div>
                            break;
                        case 5:
                            <div>Viernes</div>
                            break;
                        case 6:
                            <div>Sábado</div>
                            break;
                        case 0:
                            <div>Domingo</div>
                            break;
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => pasajeros.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => llegaronPorAeropuertoPorDiaSemana[aeropuerto.Key][pasajeros.Key])
                </td>
            </tr>
            }
        </tbody>
    </table>

}else{
    <h2 align="center">El rango de fechas dadas no contiene vuelos en medio</h2>
}