@model IEnumerable<AeropuertoCalidad.Models.Vuelo>

@{
    ViewData["Title"] = "Vuelo";
}

<h1>Vuelos</h1>

<p>
    <a asp-action="Create">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ruta
            </th>
            <th>
                Fecha
            </th>
            <th>
                Capacidad Real
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigorutaNavigation.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidadreal)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { ruta = item.CodigorutaNavigation.Codigo, fecha = item.Fecha })
                @Html.ActionLink("Detalles", "Details", new { ruta = item.CodigorutaNavigation.Codigo, fecha = item.Fecha })
                @Html.ActionLink("Borrar", "Delete", new { ruta = item.CodigorutaNavigation.Codigo, fecha = item.Fecha })
            </td>
        </tr>
}
    </tbody>
</table>
