@model AeropuertoCalidad.Models.Ruta

@{
    ViewData["Title"] = "Detalle de Ruta";
}

<head>
  <link rel="stylesheet" type="text/css" href="~/css/Interfaz.css">
</head>

<h1 class="SubTitle">Detalles de la Ruta</h1>

<section class="row">
    <article class="col"></article>
    <article class="Card col-6">
        <div class="row Items">
            <dt class = "col ValueName d-flex justify-content-end">
                @Html.DisplayNameFor(model => model.Empresa)
            <dd class = "col Value">
                @Html.DisplayFor(model => model.Empresa)
            </dd>
        </div>
        <div class="row Items">
            <dt class = "col ValueName d-flex justify-content-end">
                @Html.DisplayNameFor(model => model.Hora)
            </dt>
            <dd class = "col Value">
                @Html.DisplayFor(model => model.Hora)
            </dd>
        </div>
        <div class="row Items">
            <dt class = "col ValueName d-flex justify-content-end">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class = "col Value">
                @Html.DisplayFor(model => model.Estado)
            </dd>
        </div>
        <div class="row Items">
            <dt class = "col ValueName d-flex justify-content-end">
                @Html.DisplayNameFor(model => model.Lugar)
            <dd class = "col Value">
                @Html.DisplayFor(model => model.Lugar)
            </dd>
        </div>
        <div class="row Items">
            <dt class = "col ValueName d-flex justify-content-end">
                Capacidad Máxima
            </dt>
            <dd class = "col Value">
                @Html.DisplayFor(model => model.Capacidadmaxima)
            </dd>
        </div>
        <div class="row Items">
            <dt class = "col ValueName d-flex justify-content-end">
                Aeropuerto
            </dt>
            <dd class = "col Value">
                @Html.DisplayFor(model => model.CodigoaeropuertoNavigation.Codigo)
            </dd>
        </div>
        <div class="row d-flex justify-content-center">
            <a asp-action="Edit" asp-route-id="@Model.Codigo" class="ActionButtom">Editar</a>
            <a asp-action="Index" class="BackButtom">Volver</a>
        </div>
    </article>
    <article class="col"></article>
</section>